html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;

}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: #1c5d76;
  font-weight: bold;
  margin-right: 8px;
}

.nav-links a:last-of-type {
  margin-right: 0;
}

.nav-links a.active {
  border-bottom: 1px solid #1c5d76;
}


.home-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.home-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.Build-image {
  width: 100%;
  max-height: 20vh;
  object-fit: cover;
}

.shop-button.md-button {
  margin-top: -16px;
  text-decoration: none;
}

.items-list-wrapper {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-card {
  width: 250px;
  margin: 0 10px 32px;
  cursor: pointer;
}

.item-card p {
  margin: 0 0 4px;
  text-align: left;
  color: #595959;
}

.items-list-image {
  width: 100%;
  border: 1px solid lightgray;
}

.item-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.item-header {
  display: flex;
}

.item-header h2,
.item-header h4 {
  color: #1c5d76;
  margin: 0;
}

.item-header h4 {
  margin-top: 16px;
}

.item-sub-nav {
  border-bottom: 1px solid #a1d5d4;
  justify-content: center;
}

.item-sub-nav a {
  color: #a5a5a5;
  text-decoration: none;
  padding: 12px;
}

.item-sub-nav a.active {
  color: #1c5d76;
  font-weight: bold;
}

.item-sub-nav a:first-of-type {
  margin-right: 32px;
}

.item-card a {
  text-decoration: none;
}

.image-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.item-title-wrapper {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.item-details {
  max-width: 720px;
  margin: 32px auto;
}

/* material design button */
.md-button {

  display: inline-block;
  box-sizing: border-box;
  margin: 0 8px;
  border: none;
  border-radius: 2px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: black;
  background-color: white;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui,
    -apple-system;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.md-button:hover,
.md-button:focus {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

form{
  display:flex;
  flex-direction: column;
  text-align: left;
}
.backGround{
  background-color: #ececec;
  height: 5vh;
}
 p{
  margin-left: 2%;
  padding-top: 1%;;
}
.size select{
  margin-left: 2%;
}
.sauces{
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}
.toppings{
  display: flex;
  flex-direction: row;
}
.idkgridrow{
  display: flex;
  flex-direction: column;
}